@import "reusable";
@font-face {
  font-family: Helvetica Neue Condensed;
  src: local('☺'), url('./../assets/font/HelveticaNeue-Condensed.otf')  format("opentype");
}
@font-face {
  font-family: Helvetica Neue;
  src: local('☺'), url('./../assets/font/HelveticaNeue-Condensed.otf')  format("opentype");
}
@font-face {
  font-family: Helvetica Neue Bold;
  src: local('☺'), url('./../assets/font/Helvetica-Neue-LT-Std-107-Extra-Black-Condensed_22505.ttf')  format("truetype");
}

.main-wrapper{
  .header{
    background-color: #fff;
    padding: 16px  0;
    .head-flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
  }
  .banner-section{
    // padding: 90px 0;
    border-radius: 2px;
    background-color: #f2f2f2;
    position: relative;
    top: 0;
    left: 0;
    .bannerflex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .info-text{
        padding: 90px 0;
        width: 42%;
        .title{
          font-size: 140px;
          letter-spacing: -3px;
          line-height: 110px;
          color: #000000;
          font-weight: 800;
          font-family: "Helvetica Neue Bold";
          text-transform: uppercase;
          margin: 0;
          margin-bottom: 28px;
        }
        .subtitle{
          font-size: 30px;
          letter-spacing: -1px;
          line-height: 37px;
          color: #000000;
          font-weight: bold;
          font-family: "Helvetica";
          text-transform: uppercase;
          // padding-bottom: 16px;
          margin-bottom: 12px;
          &::after{
            content: "";
            display: block;
            width: 240px;
            height: 5px;
            background-color: #c70000;
            margin-top: 16px;
          }
        }
        .pro-header{
          font-size: 30px;
          letter-spacing: 6px;
          color: #000000;
          font-weight: bold;
          font-family: acumin-pro-extra-condensed, sans-serif;
          font-weight: 700;
          font-style: normal;
          text-transform: uppercase;
        }
        .svg-img{
          width: 100px;
          margin-top: 8px;
          display: block;
          margin-bottom: 24px;
        }
      }
      .img-container{
        width: 50%;
        // align-self: f;
        // padding-top: 60px;
        .img-box{
          display: block;
          position: relative;
          margin-left: auto;
          width: 100%;
          bottom: 0;
          &::before{
            content: "";
            border: 2px solid #00000065;
            border-radius: 2px;
            // background: red;
            height: 100%;
            width: 86%;
            position: absolute;
            top: 40px;
            right: 40px;
          }
          .img-hami{
            display: block;
            max-width: 100%;
            margin-left: auto;
            position: relative;
          }
        }
      }
    }
    .camera-img{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -38%;
    }
  }
  .take-section{
    margin-top: 250px; 
    // background-color: red;
    margin-bottom: 78px;
    .take-flex{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .info-box{
        width: 26%;
        h2{
          font-size: 40px;
          line-height: 48px;
          color: #000000;
          font-weight: bold;
          font-family: "Helvetica Neue Condensed";
          margin: 0;
        }
      }
      .content-info{
        width:74%;
        p{
          font-size: 18px;
          line-height: 28px;
          color: #000000;
          font-family: "Helvetica";
          margin: 0;
          margin-bottom: 24px;
        }
        a{
          font-size: 16px;
          line-height: 28px;
          color: #ffffff;
          font-weight: bold;
          font-family: "Helvetica";
          text-transform: uppercase;
          // height: 50px;
          background-color: #cc0000;
          padding: 8px 24px;
          display: inline-block;
        }
      }
    }
    // position: relative;
  }
  .song-section{
    background-color: #ccc;
    background-image: url('./../assets/images/song-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 120px 0;
    .song-flex{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .info-section{
        width: 34%;
        font-family: "Helvetica Neue";
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        .text-header{
          font-size: 60px;
          line-height: 48px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .text{
          font-size: 24px;
          line-height: normal;
          font-weight: bold;
          margin-bottom: 16px;

        }
        .title{
          font-size: 30px;
          line-height: normal;
          font-weight: bold;
          margin-bottom: 12px;

        }
        .text-footer{
          font-size: 20px;
          letter-spacing: 3px;
          line-height: normal;
          font-weight: 500;
        }
        .song-svg-img{
          width: 150px;
          height: 60px;
        }
        // .svg-img{
        //   margin: 0 auto;
        //   max-width: 100%;
        //   width: 150px;
        //   fill: #ffffff;
        // }
      }
      .video-container{
        width: 58%;
        margin-left: auto;
        position: relative;
        left: 0;
        top: 0;
        &::before{
          content: "";
          border: 2px solid #ffffff70;
          border-radius: 2px;
          // background: red;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 40px;
          left: -40px;
        }
        .yt-img{
          width: 100%;
          height: auto;
          position: relative;
          
        }
        .play-btn{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        .yt-video{
          width: 100%;
          height: 450px;
          position: relative;
          
        }
      }
    }
  }
  .advantages-section{
    padding: 60px 0 0 0;
    .adv-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;
      .image-content{
        width: 48%;
        position: relative;
        &.m-rt{
          margin-right: 40px;
        }
        
        .border-right, .border-left{
          &::before{
            content: "";
            border: 2px solid #00000065;
            border-radius: 2px;
            // background: red;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 40px;
            left: 40px;
          }
          .fe-img{
            display: block;
            max-width: 100%;
            position: absolute;
            left: -40px;
            bottom:40px;
          }
          .fe-img-right{
            display: block;
            max-width: 100%;
            position: absolute;
            right: -80px;
            bottom:40px;
          }
        }
        .border-left{
          &::before{
            left: auto;
            right: 40px;
          }
          .fe-img{
            left: auto;
            right: -40px;
          }
          .fe-img-left{
            display: block;
            max-width: 100%;
            position: absolute;
            left: -80px;
            bottom:40px;
          }
        }
        .img-box{
          position: relative;
          .main-img{
            display: block;
            max-width: 100%;
            margin-left: auto;
            width: 100%;
            position: relative;
          }
        }
        
      }
      .or-1{
        order: 1;
      }
      .text-content{
        width: 42%;
        &.right-align{
          text-align: right;
        }
        .title{
          font-size: 40px;
          letter-spacing: -1px;
          line-height: 48px;
          color: #000000;
          font-weight: bold;
          font-family: "Helvetica Neue";
          margin-bottom: 24px;
        }
        .hight-text{
          // 4K 60p Continuous Recording
          font-size: 16px;
          letter-spacing: 0px;
          line-height: 37px;
          color: #ffffff;
          font-weight: bold;
          font-family: "Helvetica";
          background-color: #cc0000;
          margin-bottom: 24px;
          padding: 0 20px;
          display: inline-block;
        }
        .text{
          font-size: 14px;
          letter-spacing: 0px;
          line-height: 22px;
          color: #000000;
          font-family: "Helvetica";
          margin-bottom:24px;
        }
        .text2{
          font-size: 11px;
          color: #000000;
          font-family: "Helvetica";
          line-height:16px;
          a{
            color: #cc0000;
          }
        }
      }
    }
  }
  .feture-section{
    background-color: #ccc;
    background-image: url('./../assets/images/info-bg.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 40px 0;
    .fet-flex{
      display: flex;
      flex-wrap: wrap;
      .info-items{
        
        .info-item{
          width: 396px;
          min-height: 180px;
          height: 180px;
          padding: 36px;
          background-color: rgba(255, 255, 255,0.102);
          &:nth-child(even){
            background-color: rgba(255, 255, 255,0.2);
          }
          .info-img{
            margin-bottom: 16px;
            display: inline-block;

          }
          // &:nth
          p{
            font-size: 20px;
            letter-spacing: 0px;
            line-height: normal;
            color: #ffffff;
            font-weight: bold;
            font-family: "Helvetica";
            margin: 0;
          }
          // background-color: red;
        }
      }
    }
  }
  .price-section{
    padding: 60px 0;
    .price-flex{
      border-radius: 2px;
      // background-color: rgba(87,110,38,0);
      border: 2px solid #b2b2b2;
      display: flex;
      flex-wrap: wrap;
      padding: 40px 0;
      .price-img-container{
        width: 42%;
        img{
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }
      }
      .price-content{
        width: 58%;
        display: flex;
        flex-wrap: wrap;
        .info-box{
          min-width: 40%;
          padding-right: 60px;
          margin-bottom: 20px;
          .pro-name{
            display: block;
            width: 170px;
            margin-bottom: 18px;
            max-width: 100%;
          }
          .price-lable{
            font-size: 16px;
            letter-spacing: 0px;
            // line-height: 37px;
            color: #ffffff;
            font-weight: bold;
            font-family: "Helvetica";
            background-color: #cc0000;
            padding: 10px 12px;
            display: inline-block;
          }
          .box-contain, .price-tc, .price{
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            font-family: "Helvetica";
          }
          .price-tc, .price{
            font-weight: 800;
          }
          // .price{

          // }
        }
      }
    }
  }
  .footer{
    background-color: #000000;
    padding: 28px 0;

    .foot-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .links, .copy{
        font-size: 14px;
        line-height: normal;
        color: #ffffff59;
        font-family: "Arial";
        br{
          display: none;
        }
        a{
          text-decoration: none;
          color: #ffffff59;
          margin-right: 8px;
          padding-left: 8px;
        }
      }
      .socail-icon{
        display: flex;
        .icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          transition: 0.2s;
          margin: 0 4px;
          img{
            max-width: 100%;
            display: block;
            margin: 0 auto;
          }
          &:hover{
            background-color: #ffffff10;
          }
        }
      }
    }
  }
  .view-price{
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica";
    text-transform: uppercase;
    background-color: #c00;
    padding: 10px 16px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      background-color: rgba(204, 0, 0, 0.61);
    }
  }
  .scroll-to-top{
    position: fixed;
    right: 48px;
    bottom: 48px;
    cursor: pointer;
    border-radius: 50px;
    display: block;
    height: auto;
    display: none;
  }
}
.main-wrapper .banner-section .bannerflex .img-container .img-box.hami2::before {
  height: 92%;
  width: 100%;
  top: 80px;
}
.main-wrapper .banner-section .bannerflex .img-container.hamiC2 {
  width: 46%;
  // align-self: flex-end;
}
.main-wrapper .banner-section .bannerflex .img-container.hamiC2 .img-box .img-hami{
  width:100%
}
@import "media";
